* {
	margin: 0;
	padding: 0;
}

.main {
	padding: 20px;
	position: relative;
	input {
		width: 200px;
		height: 50px;
		opacity: 0;
	}
	label {
		width: 200px;
		height: 50px;
		font-size: 20px;
		line-height: 50px;
		background-color: #bdc3c7;
		text-transform: uppercase;
		position: absolute;
		z-index: 5;
		cursor: pointer;
		top: 244px;
		left: 20px;
		text-align: center;
		opacity: .8;
	}
}

.preview {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}